.container
  .text(data-splitting='') Happy Birthday, Uncle Roger!!!
  .presents
    .present.orange
      .lid
      .box
      .bow
      .ribbon
    .present.blue
      .lid
      .box
      .bow
      .ribbon
    .present.green
      .lid
      .box
      .bow
      .ribbon 